{% extends "base.html" %}

{% block content %}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Chat with your personal assistant</h4>
                        <p class="category">Ask him informations about the measurements</p>
                    </div>
                    <div class="content">

                        <iframe width="100%" height="530" src="https://console.dialogflow.com/api-client/demo/embedded/7f31487f-4899-4870-8b2f-9f2bcb2f8a86"></iframe>



                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



{% endblock %}